Repository Emmanuel-Evenzur/monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, team-ExternalDeps, team-Documentation, team-Remote-Exec, team-Rules-Java, team-Android, team-Configurability

Filter spawn strategies by execution platform
  src/main/java/com/google/devtools/build/lib/analysis/platform/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/platform/PlatformUtils.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/BazelStrategyModule.java
  src/main/java/com/google/devtools/build/lib/exec/BUILD
  src/main/java/com/google/devtools/build/lib/exec/ExecutionOptions.java
  src/main/java/com/google/devtools/build/lib/exec/RemoteLocalFallbackRegistry.java
  src/main/java/com/google/devtools/build/lib/exec/SpawnStrategyRegistry.java
  src/main/java/com/google/devtools/build/lib/exec/SpawnStrategyResolver.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnRunner.java
  src/test/java/com/google/devtools/build/lib/exec/BUILD
  src/test/java/com/google/devtools/build/lib/exec/SpawnStrategyRegistryTest.java
  src/test/java/com/google/devtools/build/lib/exec/util/FakeOwner.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerTest.java
  src/test/shell/integration/execution_strategies_test.sh
Labels: awaiting-review, team-Remote-Exec, team-Configurability

Rewrite CLI docs to take advantage of markdown support (chunk 1)
  src/main/java/com/google/devtools/build/lib/analysis/AnalysisOptions.java
  src/main/java/com/google/devtools/build/lib/analysis/PlatformOptions.java
  src/main/java/com/google/devtools/build/lib/analysis/ShellConfiguration.java
  src/main/java/com/google/devtools/build/lib/analysis/WorkspaceStatusAction.java
  src/main/java/com/google/devtools/build/lib/analysis/config/CoreOptions.java
  src/main/java/com/google/devtools/build/lib/analysis/test/CoverageConfiguration.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestConfiguration.java
  src/main/java/com/google/devtools/build/lib/authandtls/AuthAndTLSOptions.java
  src/main/java/com/google/devtools/build/lib/bazel/BazelStartupOptionsModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/ModOptions.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/FetchOptions.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/VendorOptions.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/RepositoryOptions.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/BazelRuleClassProvider.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/python/BazelPythonConfiguration.java
  src/main/java/com/google/devtools/build/lib/buildeventservice/BuildEventServiceOptions.java
  src/main/java/com/google/devtools/build/lib/buildeventstream/BuildEventProtocolOptions.java
  src/main/java/com/google/devtools/build/lib/buildeventstream/transports/BuildEventStreamOptions.java
  src/main/java/com/google/devtools/build/lib/buildtool/BuildRequestOptions.java
Labels: awaiting-review, team-ExternalDeps, team-Configurability

Flip incompatible_strict_action_env
  src/main/java/com/google/devtools/build/lib/bazel/rules/BazelRuleClassProvider.java
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
Labels: awaiting-review, team-Remote-Exec

Update LICENSE
  LICENSE
Labels: awaiting-review

Update create_embedded_tools.py
  src/create_embedded_tools.py
Labels: awaiting-review

.github/labeler.yml:

# Based on paths provided in the CODEOWNERS file

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

team-ExternalDeps:
- src/main/java/com/google/devtools/build/lib/bazel/bzlmod/**/*
- src/test/java/com/google/devtools/build/lib/bazel/bzlmod/**/*
- src/test/py/bazel/bzlmod/**/*
- src/main/java/com/google/devtools/build/lib/bazel/repository/**/*
- src/test/java/com/google/devtools/build/lib/bazel/repository/**/*

team-Documentation:
- site/**/*

team-Remote-Exec:
- src/main/java/com/google/devtools/build/lib/remote/**/*
- src/test/java/com/google/devtools/build/lib/remote/**/*
- src/test/py/bazel/remote/**/*
- src/test/shell/bazel/remote/**/*
- src/tools/remote/**/*
- third_party/remoteapis/build/bazel/remote/**/*

# team-Rules-Python:
# - src/main/java/com/google/devtools/build/lib/bazel/rules/python/**/*
# - src/main/java/com/google/devtools/build/lib/rules/python/**/*

team-Rules-Java:
- src/java_tools/**/*
- src/main/java/com/google/devtools/build/lib/rules/java/**/*
- src/test/java/com/google/devtools/build/lib/rules/java/**/*
- src/tools/singlejar/**/*
- tools/java/**/*
- tools/jdk/**/*

team-Android:
- src/tools/android/java/com/google/devtools/build/android/**/*
- src/test/java/com/google/devtools/build/android/**/*

team-Configurability:
- src/main/java/com/google/devtools/build/lib/analysis/**/*
- src/test/java/com/google/devtools/build/lib/analysis/**/*
- src/main/java/com/google/devtools/build/lib/query2/cquery/**/*
- src/test/java/com/google/devtools/build/lib/query2/cquery/**/*
- src/main/java/com/google/devtools/build/lib/rules/platform/**/*
- src/test/java/com/google/devtools/build/lib/rules/platform/**/*
- tools/platforms/**/*

# team-Rules-CPP:
# - tools/cpp/**/*
# - test/shell/bazel/cpp/**/*
# - src/test/java/com/google/devtools/build/lib/rules/cpp/**/*
# - src/main/java/com/google/devtools/build/lib/rules/cpp/**/*

# team-Performance

# team-Bazel

# team-Local-Exec

# team-OSS

# team-Rules-Server

# team-Starlark-Interpreter

# team-Starlark-Integration

# team-Rules-API

# team-Loading-API

# team-Rules-ObjC

# team-CLI

# team-Core
