Repository Emmanuel-Evenzur/monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, team-ExternalDeps, team-Documentation, team-Remote-Exec, team-Rules-Java, team-Android, team-Configurability

.github/labeler.yml:

# Based on paths provided in the CODEOWNERS file

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

team-ExternalDeps:
- src/main/java/com/google/devtools/build/lib/bazel/bzlmod/**/*
- src/test/java/com/google/devtools/build/lib/bazel/bzlmod/**/*
- src/test/py/bazel/bzlmod/**/*
- src/main/java/com/google/devtools/build/lib/bazel/repository/**/*
- src/test/java/com/google/devtools/build/lib/bazel/repository/**/*

team-Documentation:
- site/**/*

team-Remote-Exec:
- src/main/java/com/google/devtools/build/lib/remote/**/*
- src/test/java/com/google/devtools/build/lib/remote/**/*
- src/test/py/bazel/remote/**/*
- src/test/shell/bazel/remote/**/*
- src/tools/remote/**/*
- third_party/remoteapis/build/bazel/remote/**/*

# team-Rules-Python:
# - src/main/java/com/google/devtools/build/lib/bazel/rules/python/**/*
# - src/main/java/com/google/devtools/build/lib/rules/python/**/*

team-Rules-Java:
- src/java_tools/**/*
- src/main/java/com/google/devtools/build/lib/rules/java/**/*
- src/test/java/com/google/devtools/build/lib/rules/java/**/*
- src/tools/singlejar/**/*
- tools/java/**/*
- tools/jdk/**/*

team-Android:
- src/tools/android/java/com/google/devtools/build/android/**/*
- src/test/java/com/google/devtools/build/android/**/*

team-Configurability:
- src/main/java/com/google/devtools/build/lib/analysis/**/*
- src/test/java/com/google/devtools/build/lib/analysis/**/*
- src/main/java/com/google/devtools/build/lib/query2/cquery/**/*
- src/test/java/com/google/devtools/build/lib/query2/cquery/**/*
- src/main/java/com/google/devtools/build/lib/rules/platform/**/*
- src/test/java/com/google/devtools/build/lib/rules/platform/**/*
- tools/platforms/**/*

# team-Rules-CPP:
# - tools/cpp/**/*
# - test/shell/bazel/cpp/**/*
# - src/test/java/com/google/devtools/build/lib/rules/cpp/**/*
# - src/main/java/com/google/devtools/build/lib/rules/cpp/**/*

# team-Performance

# team-Bazel

# team-Local-Exec

# team-OSS

# team-Rules-Server

# team-Starlark-Interpreter

# team-Starlark-Integration

# team-Rules-API

# team-Loading-API

# team-Rules-ObjC

# team-CLI

# team-Core

Add support for riscv64 linux
  BUILD
  MODULE.bazel
  MODULE.bazel.lock
  distdir_deps.bzl
  repositories.bzl
  src/BUILD
  src/MODULE.tools
  src/minimize_jdk.sh
  third_party/rules_jvm_external_6.0.patch
  third_party/rules_jvm_external_6.2.patch
Labels: awaiting-review

Drop excessive isNotNull check in tests
  src/test/java/com/google/devtools/build/lib/analysis/config/ExecutionTransitionFactoryTest.java
  src/test/java/com/google/devtools/build/lib/exec/local/LocalSpawnRunnerTest.java
Labels: awaiting-review, team-Configurability

WIP
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/BUILD
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
  src/main/java/com/google/devtools/build/lib/remote/util/DigestUtil.java
Labels: awaiting-review, team-Remote-Exec

TMP: Integrate
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/RemoteAction.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionCache.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteRepositoryRemoteExecutor.java
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/CombinedCacheTest.java
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
Labels: awaiting-review, team-Remote-Exec

Introduce root class
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionCache.java
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

Almost implement runfiles
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/BUILD
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

Add support for scrubbing
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/BUILD
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTest.java
Labels: awaiting-review, team-Remote-Exec

Optimize memory usage
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

Add equals/hashcode to scrubber
  src/main/java/com/google/devtools/build/lib/remote/Scrubber.java
Labels: awaiting-review, team-Remote-Exec

WIP
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

Don't add empty node properties
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

Import Predicates
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

WIP separate caches
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

Make exploding directories interruptible
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

Use PathMapper directly
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

subtree cache compiles
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteRepositoryRemoteExecutor.java
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/BUILD
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

Simplify digest handling
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionCache.java
Labels: awaiting-review, team-Remote-Exec

Fix RAFS injection
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

Extract out interface
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionCache.java
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

Switch to enum
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnCache.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/BUILD
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTest.java
Labels: awaiting-review, team-Remote-Exec

Remove resolved todo
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

Upload subtrees
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteRepositoryRemoteExecutor.java
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTest.java
Labels: awaiting-review, team-Remote-Exec

Add to persistent cache
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

Don't presize
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

Fix GrpcCacheClientTest
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTest.java
Labels: awaiting-review, team-Remote-Exec

Precache subtrees
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

Leave todo note about path testing
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

Support action rewinding
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/BUILD
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

Disable Merkle tree cache specific test
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
Labels: awaiting-review, team-Remote-Exec

Don't retain blobs for cache only
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnCache.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/BUILD
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTest.java
Labels: awaiting-review, team-Remote-Exec

Use persistent cache
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

TMP: Try to fix sibling
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

Add support for empty inputs
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

Wire up refreshing
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

Use remote path resolver
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/BUILD
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTest.java
Labels: awaiting-review, team-Remote-Exec

Unify interfaces
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionCache.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTest.java
Labels: awaiting-review, team-Remote-Exec

Renames and cleanups
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

don't keep empty digests
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
Labels: awaiting-review, team-Remote-Exec

Add Options
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnCache.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/remote/merkletree/v2/MerkleTreeComputer.java
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTest.java
Labels: awaiting-review, team-Remote-Exec

Fix tests
  src/test/java/com/google/devtools/build/lib/remote/CombinedCacheTest.java
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTest.java
Labels: awaiting-review, team-Remote-Exec
