Repository Emmanuel-Evenzur/monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, team-ExternalDeps, team-Documentation, team-Remote-Exec, team-Rules-Java, team-Android, team-Configurability

Fix REST
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
Labels: awaiting-review, team-Remote-Exec

Enable source directory tracking by default
  src/main/java/com/google/devtools/build/lib/skyframe/ArtifactFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/TrackSourceDirectoriesFlag.java
  src/test/java/com/google/devtools/build/lib/buildtool/BUILD
  src/test/shell/integration/execution_phase_tests.sh
Labels: awaiting-review

Update execution_phase_tests.sh
  src/test/shell/integration/execution_phase_tests.sh
Labels: awaiting-review

Enable source directory tracking by default
  site/en/contribute/codebase.md
  src/test/shell/integration/execution_phase_tests.sh
Labels: awaiting-review, team-Documentation

Update execution_phase_tests.sh
  src/test/shell/integration/execution_phase_tests.sh
Labels: awaiting-review

Consolidated windows arm config_settings.
  src/conditions/BUILD
Labels: awaiting-review

Add `--incompatible_resolve_select_keys_eagerly`
  src/main/java/com/google/devtools/build/lib/packages/Attribute.java
  src/main/java/com/google/devtools/build/lib/packages/SelectorList.java
  src/main/java/com/google/devtools/build/lib/packages/SelectorValue.java
  src/main/java/com/google/devtools/build/lib/packages/StarlarkNativeModule.java
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/test/java/com/google/devtools/build/lib/packages/SelectTest.java
  src/test/java/com/google/devtools/build/lib/packages/semantics/ConsistencyTest.java
Labels: awaiting-review

Update SelectorValue.java
  src/main/java/com/google/devtools/build/lib/packages/SelectorValue.java
Labels: awaiting-review

Use `includes` instead of `system_includes` for `includes` attr
  compile.sh
  scripts/bootstrap/bootstrap.sh
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppCompileAction.java
  src/main/starlark/builtins_bzl/common/cc/cc_binary.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_library.bzl
  src/main/starlark/builtins_bzl/common/cc/compile/cc_compilation_helper.bzl
  src/main/starlark/builtins_bzl/common/objc/compilation_support.bzl
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcCommonTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcLibraryConfiguredTargetTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/StarlarkCcCommonTest.java
  src/test/java/com/google/devtools/build/lib/rules/objc/ObjcLibraryTest.java
Labels: awaiting-review

Simplify resolver
  src/main/java/com/google/devtools/build/lib/packages/SelectorList.java
Labels: awaiting-review

Add test
  src/test/java/com/google/devtools/build/lib/packages/SelectTest.java
Labels: awaiting-review

Add docs
  site/en/extending/legacy-macros.md
  src/main/java/com/google/devtools/build/lib/packages/SelectorList.java
Labels: awaiting-review, team-Documentation

Fix comment
  src/main/java/com/google/devtools/build/lib/packages/SelectorList.java
Labels: awaiting-review

Delete legacy flow in `cc_test`
  src/MODULE.tools
  src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_test.bzl
  src/main/starlark/builtins_bzl/common/cc/semantics.bzl
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: awaiting-review

Add --strict_repo_env option
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegularRunnableExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorFunction.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/runtime/CommandEnvironment.java
  src/main/java/com/google/devtools/build/lib/runtime/CommonCommandOptions.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/repository/RepositoryModuleApi.java
  src/test/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorTest.java
  src/test/shell/bazel/starlark_repository_test.sh
Labels: awaiting-review, team-ExternalDeps

Cleanup, descoping and fixing `clientEnvironmentSupplier` source
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/runtime/CommandEnvironment.java
  src/main/java/com/google/devtools/build/lib/runtime/CommonCommandOptions.java
Labels: awaiting-review, team-ExternalDeps

Docs fixup, splitting client env change to separate PR
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/runtime/CommonCommandOptions.java
Labels: awaiting-review

Add to srcs
  src/main/java/com/google/devtools/build/lib/remote/merkletree/BUILD
Labels: awaiting-review, team-Remote-Exec

Implement facts
  scripts/bazel-lockfile-merge.jq
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Facts.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/FactsAdapter.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GsonTypeAdapterUtil.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/InnateRunnableExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/LockFileModuleExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/LockfileModuleExtensionMetadata.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionMetadata.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegularRunnableExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RunnableExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionValue.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileModuleTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: awaiting-review, team-ExternalDeps

remove CppModulesConfiguredTargetTest
  src/test/java/com/google/devtools/build/lib/rules/cpp/BUILD
  src/test/java/com/google/devtools/build/lib/rules/cpp/CppModulesConfiguredTargetTest.java
Labels: awaiting-review

[4/5] support C++20 Modules, support one phase compilation
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcCompilationContext.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcCompilationHelper.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcCompilationOutputs.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcToolchainProvider.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppCompileAction.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppCompileActionBuilder.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppHelper.java
  src/main/protobuf/failure_details.proto
Labels: awaiting-review

remove unnecessary manual triggering of Skyframe
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppCompileAction.java
Labels: awaiting-review

Suggested improvements (#8)
  src/main/java/com/google/devtools/build/lib/rules/cpp/BUILD
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcCompilationContext.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcCompilationHelper.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcCompilationOutputs.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppCompileAction.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppCompileActionBuilder.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppHelper.java
  tools/cpp/modules_tools/aggregate-ddi/main.cc
Labels: awaiting-review

refactor/cpp: simplify CPP module handling and remove compiler-specific logic
  src/main/java/com/google/devtools/build/lib/rules/cpp/ArtifactCategory.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcCompilationHelper.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppCompileAction.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppCompileActionBuilder.java
  src/main/java/com/google/devtools/build/lib/util/DependencySet.java
Labels: awaiting-review

Address comments
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
Labels: awaiting-review, team-ExternalDeps

Move factory
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GsonTypeAdapterUtil.java
Labels: awaiting-review, team-ExternalDeps

delete CPP_MODULE_GCM and CPP_MODULE_IFC
  src/main/starlark/builtins_bzl/common/cc/cc_helper_internal.bzl
Labels: awaiting-review

disable include scanning for deps scanning
  src/main/java/com/google/devtools/build/lib/bazel/rules/cpp/BazelCppSemantics.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppCompileAction.java
Labels: awaiting-review

reset
  src/main/java/com/google/devtools/build/lib/util/DependencySet.java
Labels: awaiting-review

Make cc_toolchain make variables look at action_config tools for paths, rather than tool_path
  src/main/starlark/builtins_bzl/common/cc/cc_binary.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_library.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_toolchain.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_toolchain_alias.bzl
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcToolchainProviderTest.java
Labels: awaiting-review

Address PR feedback to incline _tool_path calls since it is a single line function, and to extract tool names into constants.
  src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_toolchain_provider_helper.bzl
Labels: awaiting-review

Address PR feedback to handle tool names that aren't mapped to action configs explicitly.
  src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl
Labels: awaiting-review

Make strip_include_prefix apply to textual_hdrs
  src/main/starlark/builtins_bzl/common/cc/compile/cc_compilation_helper.bzl
  src/main/starlark/tests/builtins_bzl/cc/basics/test/BUILD.builtin_test
  src/main/starlark/tests/builtins_bzl/cc/basics/test/nested/lib.cc
  src/main/starlark/tests/builtins_bzl/cc/basics/test/nested/lib.h
  src/main/starlark/tests/builtins_bzl/cc/basics/test/test_include_textual.cc
Labels: awaiting-review

Allow textual_hdrs to not start with strip_include_prefix
  src/main/starlark/builtins_bzl/common/cc/compile/cc_compilation_helper.bzl
  src/main/starlark/tests/builtins_bzl/cc/basics/test/BUILD.builtin_test
  src/main/starlark/tests/builtins_bzl/cc/basics/test/not_nested.h
  src/main/starlark/tests/builtins_bzl/cc/basics/test/test_include_textual.cc
Labels: awaiting-review

Make sure textual_headers end up in the cppmap
  src/main/starlark/builtins_bzl/common/cc/compile/cc_compilation_helper.bzl
Labels: awaiting-review

Fix imports to not get replaced during import
  src/main/starlark/tests/builtins_bzl/cc/basics/test/nested/lib.cc
  src/main/starlark/tests/builtins_bzl/cc/basics/test/test_include_textual.cc
Labels: awaiting-review

Enable layering_check in test
  src/main/starlark/tests/builtins_bzl/cc/basics/test/BUILD.builtin_test
Labels: awaiting-review

Fix for shorten_virtual_includes
  src/main/starlark/builtins_bzl/common/cc/compile/cc_compilation_helper.bzl
Labels: awaiting-review

Fix cc_import.bzl call to git_toolchain_global_make_variables that was missing the new parameter
  src/main/starlark/builtins_bzl/common/cc/cc_import.bzl
Labels: awaiting-review

Fix virtual headers symlink action for C++ public headers
  src/main/starlark/builtins_bzl/common/cc/compile/cc_compilation_helper.bzl
Labels: awaiting-review

.github/labeler.yml:

# Based on paths provided in the CODEOWNERS file

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

team-ExternalDeps:
- src/main/java/com/google/devtools/build/lib/bazel/bzlmod/**/*
- src/test/java/com/google/devtools/build/lib/bazel/bzlmod/**/*
- src/test/py/bazel/bzlmod/**/*
- src/main/java/com/google/devtools/build/lib/bazel/repository/**/*
- src/test/java/com/google/devtools/build/lib/bazel/repository/**/*

team-Documentation:
- site/**/*

team-Remote-Exec:
- src/main/java/com/google/devtools/build/lib/remote/**/*
- src/test/java/com/google/devtools/build/lib/remote/**/*
- src/test/py/bazel/remote/**/*
- src/test/shell/bazel/remote/**/*
- src/tools/remote/**/*
- third_party/remoteapis/build/bazel/remote/**/*

# team-Rules-Python:
# - src/main/java/com/google/devtools/build/lib/bazel/rules/python/**/*
# - src/main/java/com/google/devtools/build/lib/rules/python/**/*

team-Rules-Java:
- src/java_tools/**/*
- src/main/java/com/google/devtools/build/lib/rules/java/**/*
- src/test/java/com/google/devtools/build/lib/rules/java/**/*
- src/tools/singlejar/**/*
- tools/java/**/*
- tools/jdk/**/*

team-Android:
- src/tools/android/java/com/google/devtools/build/android/**/*
- src/test/java/com/google/devtools/build/android/**/*

team-Configurability:
- src/main/java/com/google/devtools/build/lib/analysis/**/*
- src/test/java/com/google/devtools/build/lib/analysis/**/*
- src/main/java/com/google/devtools/build/lib/query2/cquery/**/*
- src/test/java/com/google/devtools/build/lib/query2/cquery/**/*
- src/main/java/com/google/devtools/build/lib/rules/platform/**/*
- src/test/java/com/google/devtools/build/lib/rules/platform/**/*
- tools/platforms/**/*

# team-Rules-CPP:
# - tools/cpp/**/*
# - test/shell/bazel/cpp/**/*
# - src/test/java/com/google/devtools/build/lib/rules/cpp/**/*
# - src/main/java/com/google/devtools/build/lib/rules/cpp/**/*

# team-Performance

# team-Bazel

# team-Local-Exec

# team-OSS

# team-Rules-Server

# team-Starlark-Interpreter

# team-Starlark-Integration

# team-Rules-API

# team-Loading-API

# team-Rules-ObjC

# team-CLI

# team-Core
